
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    margin: auto;
    width: 900px;
    text-align: center;
}

.container > img{
    width: 33%;
    margin-bottom: 15px;
}

.w_in{
    width: 300px;
}

.input_size{
    border-radius: 6px;
    padding: 6px 10px;
    border: 1px solid;
}

.input_container{
    margin-bottom: 30px;
}

.list{
    background-color: #F5F7F7;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    min-height: 150px;
}

.item_listed{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    border-bottom: 1px solid lightgray;
}

.item_listed i{
    font-size: 1.8rem;
}

.item_listed i{
    cursor: pointer;
}

.list_container{
    display: flex;
    align-items:flex-start;
}

.title{
    text-align: center;
    margin: 10px 0 5px 0;
}

.dist{
    margin-left: 5px;
}

.remove_all{
    float: right;
    margin-top: -46px;
    font-size: 2rem;
}